/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}



/* Featured Section */
.featured-section {
  margin-bottom: 48px;
}

.featured-section h2 {
  color: #5e35b1;
  margin-bottom: 24px;
  font-size: 2em;
  text-align: center;
}

.featured-cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}







/* Values Section */
.values-section {
  margin-top: 48px;
  padding: 32px 0;
  background: #ede7f6;
  border-radius: 24px;
  box-shadow: 0 2px 12px #ede7f6;
}

.values-section h2 {
  color: #5e35b1;
  margin-bottom: 24px;
  font-size: 1.5em;
  text-align: center;
}

.values-cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.value-card {
  background-color: #e1bee7; /* Lila pastel */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.value-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.value-card .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.value-card h3 {
  color: #4a148c; /* Lila oscuro */
  margin-bottom: 10px;
}

.value-card p {
  color: #555;
}



