.button {
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: var(--border-radii-button);
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: -8px -8px;
}

.iconButton:disabled {
  cursor: default;
  opacity: 0.325;
}

.iconButton .iconButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  border-radius: var(--border-radii-button);
  background: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.iconButton.overMedia .iconButtonContainer {
  background-color: #ffffff7a;
}

.iconButton svg {
  width: 24px;
  height: 24px;
}

@media (hover: hover) {
  .iconButton:hover.overMedia .iconButtonContainer {
    background-color: #ffffffc6;
  }
  .iconButton:hover .iconButtonContainer {
    background-color: var(--purple10);
  }

  .iconButton:disabled:hover .iconButtonContainer {
    background-color: transparent;
  }
}

.button.small {
  font-size: 0.875rem;
  padding: 8px 12px;
}

.iconButton .small {
  width: 24px;
  height: 24px;
}

.bleedLeft {
  margin-left: -16px;
}

.bleedRight {
  margin-right: -16px;
}

.bleedLeftSmall {
  margin-left: -12px;
}

.bleedRightSmall {
  margin-right: -12px;
}

.link {
  display: inline-flex;
  color: var(--purple60);
  background-color: transparent;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
    background-color: var(--purple10);
    text-decoration: none;
  }
}

.link:active {
  background-color: var(--purple20);
}

.linkDanger {
  color: var(--red60);
  background-color: transparent;
}

@media (hover: hover) {
  .linkDanger:hover {
    background-color: var(--red10);
    text-decoration: none;
  }
}
.linkDanger:active {
  background-color: var(--red20);
}

.buttonPrimary {
  background-color: var(--purple60);
  border-radius: var(--border-radii-button);
  color: white;
}

@media (hover: hover) {
  .buttonPrimary:hover {
    background-color: var(--purple70);
  }
}

.buttonPrimary:active {
  background-color: var(--purple80);
}

.buttonDanger {
  background-color: var(--red60);
  border-radius: var(--border-radii-button);
  color: white;
}

@media (hover: hover) {
  .buttonDanger:hover {
    background-color: var(--red70);
  }
}

.buttonDanger:active {
  background-color: var(--red80);
}
