.button {
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: var(--border-radii-button);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  max-width: max-content;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 40px;
}

.button:disabled {
  cursor: default;
  opacity: 0.325;
}

.button.overMedia {
  background-color: #fff;
  color: var(--purple60);
}

@media (hover: hover) {
  .button.overMedia:hover {
    background-color: var(--purple10);
  }
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: -8px -8px;
}

.iconButton:disabled {
  cursor: default;
  opacity: 0.325;
}

.iconButton .iconButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  border-radius: var(--border-radii-button);
  background: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.iconButton.overMedia .iconButtonContainer {
  background-color: #ffffff7a;
}

.iconButton svg {
  width: 24px;
  height: 24px;
}

@media (hover: hover) {
  .iconButton:hover.overMedia .iconButtonContainer {
    background-color: #ffffffc6;
  }
  .iconButton:hover .iconButtonContainer {
    background-color: var(--purple10);
  }

  .iconButton:disabled:hover .iconButtonContainer {
    background-color: transparent;
  }
}

.button.small {
  font-size: 0.875rem;
  padding: 6px 8px;
  min-height: 32px;
}

.iconButton .small {
  width: 24px;
  height: 24px;
}

.bleedLeft {
  margin-left: -10px;
}

.bleedRight {
  margin-right: -10px;
}

.bleedLeftSmall {
  margin-left: -8px;
}

.bleedRightSmall {
  margin-right: -8px;
}

.link {
  display: inline-flex;
  color: var(--purple60);
  background-color: transparent;
  align-items: center;
}

.fullWidth {
  width: max-content;
}

.forceDesktopFullWidth {
  display: flex;
  max-width: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
    background-color: var(--purple10);
    text-decoration: none;
  }
}

.link:active {
  background-color: var(--purple20);
}

.linkDanger {
  color: var(--red60);
  background-color: transparent;
}

@media (hover: hover) {
  .linkDanger:hover {
    background-color: var(--red10);
    text-decoration: none;
  }
}
.linkDanger:active {
  background-color: var(--red20);
}

.buttonPrimary {
  background-color: var(--purple60);
  border-radius: var(--border-radii-button);
  color: white;
}

.buttonSecondary {
  background-color: transparent;
  border: 1px solid var(--purple60);
  border-radius: var(--border-radii-button);
  color: var(--purple60);
}

@media (hover: hover) {
  .buttonPrimary:hover {
    background-color: var(--purple70);
  }

  .buttonSecondary:hover {
    background-color: var(--purple20);
    color: var(--purple60);
  }

  .buttonDanger:hover {
    background-color: var(--red70);
  }
}

.buttonPrimary:active {
  background-color: var(--purple80);
}

.buttonDanger {
  background-color: var(--red60);
  border-radius: var(--border-radii-button);
  color: white;
}

.buttonDanger:active {
  background-color: var(--red80);
}

@media (max-width: 640px) {
  .button {
    min-height: 48px;
  }

  .button.small {
    min-height: 40px;
  }

  .buttonPrimary.fullWidth,
  .buttonSecondary.fullWidth,
  .buttonDanger.fullWidth {
    display: flex;
    max-width: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
