.itemsContainer::-webkit-scrollbar {
  display: none;
}

.itemsContainer {
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  overflow-x: auto;
  display: flex;
  gap: 1rem;
}

.mobilePeekItem {
  min-width: calc(960px / 3 - 48px);
  max-width: calc(960px / 3 - 48px);
}

@media (max-width: 1008px) {
  .mobilePeekItem {
    min-width: calc(100vw / 2 - (66px + 56px));
    max-width: calc(100vw / 2 - (66px + 56px));
  }
  .itemsContainer {
    margin: 0 -24px;
  }
  .mobilePeekItem:nth-child(1) {
    margin-left: 24px;
  }

  .mobilePeekItem:last-child {
    margin-right: 24px;
  }
}

@media (max-width: 640px) {
  .mobilePeekItem {
    min-width: calc(100vw - (66px + 56px));
    max-width: calc(100vw - (66px + 56px));
  }
    .itemsContainer {
    margin: 0 -16px;
  }
  .mobilePeekItem:nth-child(1) {
    margin-left: 16px;
  }

  .mobilePeekItem:last-child {
    margin-right: 16px;
  }
}
