.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 0.875rem;
  color: var(--text-primary);
  font-weight: 550;
}
.input {
  padding: 8px 12px;
  border: 1.5px solid var(--neutral50);
  border-radius: 8px;
  font-size: 1rem;
  background: var(--input-background);
  color: var(--text-primary);
  transition: border 0.2s, box-shadow 0.2s;
  min-height: 40px;
}


@media (max-width: 640px) {
  .input {
    min-height: 48px;
  }

  .fullWidth {
    width: 100%;
  }
}
