.container {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.sidenavDesktop {
  background: var(--purple10);
  padding: 48px 8px;
  border-right: 1px solid var(--purple30);
  position: relative;
}

.sidenavMobile {
  display: none;
}

.nav {
  position: sticky;
  top: 24px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  font-size: 0.875rem;
  font-weight: 550;
  text-decoration: none;
  color: var(--purple60);
  border-radius: 8px;
  transition: background-color 0.2s ease;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 8px 8px;
  width: 100%;
}

.link.active {
  background-color: var(--purple30);
  color: var(--purple70);
}

.content {
  padding: 48px 32px;
  overflow-y: auto;
}

@media (hover: hover) {
  .navItem:hover .link {
    background-color: var(--purple20);
  }
  .navItem:hover .link.active {
    background-color: var(--purple40);
    color: var(--purple90);
  }
}

@media (max-width: 1008px) {
  .content {
    padding: 48px 24px;
  }
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }
  .sidenavDesktop {
    display: none;
  }
  .sidenavMobile {
    display: block;
    padding: 16px;
  }
  .navList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  .content {
    padding: 16px;
  }
}
