.productDetailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.productDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.imagePreview {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thumbnailButton {
  display: inline-flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: min-content;
}

.thumbnailButton.activeThumbnail {
  outline: 2px solid var(--purple50); /* Lila claro */
  outline-offset: 2px;
  border-radius: 8px;
}

.thumbnailContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.thumbnailImage {
  width: 100%;
  height: auto;
  max-height: 64px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.product-detail-info {
  max-width: 400px;
  text-align: left;
}

.actions {
  display: flex;
  gap: 16px;
}

/* Responsive Design */
@media (max-width: 640px) {
  .productDetailContainer {
    flex-direction: column;
    align-items: center;
  }

  .productDetail {
    grid-template-columns: 1fr;
  }

  .actions {
    flex-direction: column;
  }
}
