.advancedFilters {
  display: flex;
  gap: 16px;
  align-items: center;
}

.productCards {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
  gap: 20px;
}

@media (min-width: 640px) and (max-width: 1008px) {
  .productCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .advancedFilters {
    width: 100%;
    justify-content: space-between;
  }

  .productCards {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
